body
    color #393c44
    line-height 1.5
    font-size 17px
h1
    font-family 'Poiret One', cursive
    line-height 1.2
    font-weight 100
    margin-bottom 60px
    font-size 65px

.top-container
    background-color #7E8AA2
    color #fff

.features
    min-height 600px
    display table
    width 100%
    background-color #fff

.features:nth-child(2n+1)
    background-color #f8f8f8

.showroom
    display table-cell
    vertical-align middle
    .box
        margin 0 70px
        img
            display block
            margin auto

.content
    max-width 1248px
    margin auto
    overflow visible
