$bg = #323232
$gstartColor = #29ABE2;
$githubColor = #333;

*
    transition: .2s;

body
    background-color:#fff
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif
    font-size: 1.1em
    color:#333
    @media (max-width: 992px)
        text-align:center;


section
    margin-bottom: 30px;

table
    font-size: 16px;
h3
    margin-top:40px
a
    color: #333

footer
    text-align center
.navbar
    border-radius: 0
    margin-bottom:0
    font-size:14px

.navbar-nav a:hover
    color #fff !important


.navbar-nav li:hover
    background-color #54BCE8

.navbar-default
    background-color:#1f1f1f
    border-bottom: 10px solid #54BCE8;
.navbar-link:hover
    color:#333
.menu

.container
    max-width:970px;

.main-container
    border-radius:15px;
    overflow:hidden

.top-container
    padding-top:50px;
    color:#444
    background-color:#f6f6f6
    min-height:500px;
    border-bottom 10px solid #eee

    pre
        border:1px solid #ccc
        background: #ECECEC
        color:#eee
        margin 0 15px
        font-size 1.6em
    h1
        font-size 3.5em;

.getting-started
    text-align:left;
    font-size:18px
    @media (max-width: 600px)
        margin:80px 0;
        font-size:20px
        text-align: center;

.logo
    margin-bottom:10px
    position: relative;

.logo-wrapper:before
    content:" "
    display:block
    position: absolute;
    /*box-shadow: 0 0 175px 115px #525252;*/
    margin:auto
    top:100px
    top: 115px;
    left: 131px;
.showroom
    font-size:22px;
    line-height: 1.62857143;
    @media (max-width: 600px)
        font-size:18px;

    img
        margin:auto;
        margin-bottom:20px;
        display:block;

    .txt
        margin auto
        font-size 40px
        text-align center
.wow
    visibility:hidden

.features
    text-align:center
    margin:150px 0;
    @media (max-width: 600px)
        margin:80px 0;

.stars
    margin-left:15px;
    opacity:0.8

.stars:hover
    opacity:1;

.users
    text-align:center

.user
    display:inline-block
    margin-right:20px

.user img
    border-radius:50%

.user span
    display:none

.btn.github
    background-color:alpha($githubColor, 0.9)
    border-color:alpha($githubColor, 0.9)

.btn.github:hover
    background-color:$githubColor

.btn.gstart
    background-color:alpha($gstartColor, 0.9)
    border-color:alpha($gstartColor, 0.9)


    @media (max-width: 992px)
        margin:20px 0;

.btn.gstart:hover
    background-color:$gstartColor
.btn
    /*box-shadow: 0 0 15px 5px #E6E6E6*/
    text-transform uppercase
.gs
  color: #5b5b5b;
.gs a
    color: #D8D8D8;
.gs .panel
  /*box-shadow: 0 0 28px 5px #262626*/
