*
    transition: .2s;

body

section
    margin-bottom: 30px;

table
    font-size: 16px;

.navbar
    border-radius: 0;
    margin-bottom:0

.navbar-default
    background-color:#42202C

.main-container
    border-radius:15px;
    overflow:hidden

.top-container
    padding-top:50px;
    text-align:center
    color:#f6f6f6
    background-color:#42202C
    min-height:500px;

.getting-started
    text-align:left;
    font-size:24px
    color:#B098A0

.logo
    margin-bottom:10px

.showroom
    font-size:26px;

.showroom img
    margin:auto;
    margin-bottom:20px;
    display:block;
.wow
    visibility:hidden
.features
    text-align:center
    margin:150px 0;
