$bg = #323232
$gstartColor = #D31959;
$githubColor = #54BCE8;

*
    transition: .2s;

body
    background-color:#f6f6f6
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif
    font-size: 16px
    color:#333

section
    margin-bottom: 30px;

table
    font-size: 16px;
h3
    margin-top:40px
a
    color: #333

.navbar
    border-radius: 0
    margin-bottom:0
    font-size:14px


.navbar-default
    background-color:$bg

.navbar-link:hover
    color:#333
.menu

.container
    max-width:970px;

.main-container
    border-radius:15px;
    overflow:hidden

.top-container
    padding-top:50px;
    text-align:center
    color:#f6f6f6
    background-color:$bg
    min-height:500px;

.getting-started
    text-align:left;
    font-size:24px
    color:#CFCFCF

.logo
    margin-bottom:10px
    position: relative;

.logo-wrapper:before
    content:" "
    display:block
    position: absolute;
    box-shadow: 0 0 175px 115px #525252;
    margin:auto
    top:100px
    top: 115px;
    left: 131px;
.showroom
    font-size:26px;
    line-height: 1.62857143;

.showroom img
    margin:auto;
    margin-bottom:20px;
    display:block;

.wow
    visibility:hidden

.features
    text-align:center
    margin:150px 0;

.stars
    margin-left:15px;
    opacity:0.7

.stars:hover
    opacity:1;

.users
    text-align:center

.user
    display:inline-block
    margin-right:20px

.user img
    border-radius:50%

.user span
    display:none

.btn.github
    background-color:alpha($githubColor, 0.7)
    border-color:alpha($githubColor, 0.7)

.btn.github:hover
    background-color:$githubColor

.btn.gstart
    background-color:alpha($gstartColor, 0.7)
    border-color:alpha($gstartColor, 0.7)
.btn.gstart:hover
    background-color:$gstartColor
.btn
    box-shadow: 0 0 15px 5px #2e2e2e
.gs
  background-color: #323232;
  color: #5b5b5b;
.gs a
    color: #D8D8D8;
.gs .panel
  box-shadow: 0 0 28px 5px #262626
  margin-top:40px

.gs .logo-wrapper:before
    box-shadow: 0 0 175px 75px #525252;
